body {
  display: flex;
  background-color: black;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
}

Button {
  height: 1.5em;
  width: 1.5em;
  font-family: Monospace;
  font-size: 2em;
  color: #E8E2DE;
  background-color: Transparent;
  cursor: pointer; 
}

.row {
  display: flex;
}

#screen-text {
  font-family: Monospace;
  font-size: 3em;
  color: #E8E2DE;
  text-align: right;
  padding-right: .3em;
}

#subtitle {
  font-size: .5em;
}

#title-bar {
  color: #E8E2DE;
  font-family: Monospace;
  font-size: 2em;
}

#debug {
  color: white;
}